$green: #03B5AA;
$black: #2E2E3A;
$white: #FFFFFF;
$red: #D82222;

.container {
  width: 60%;
  height: calc(100vh - 100px);
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  .wrapper {
    padding: 0 48px;
    height: 100%;
    width: 100%;
  }
}

.menu {
  display: block;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100vh;
  width: 100%;

  .secondaryBackground {
    background: $white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .menuLayer {
    position: relative;
    background: #D82222;
    height: 100%;
    overflow: hidden;

    .wrapper {
      position: relative;
      .menuLinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 60%;

        .nav {
          display: block;
          margin-top: auto;

          .ul {
            margin: 0;
            padding: 0;

            .li {
              list-style: none;
              font-size: 8vw;
              font-weight: 700;
              cursor: pointer;
              height: 160px;
              overflow: hidden;
              position: relative;
              width: 700px;

              .a {
                position: absolute;
                color: #FFF;
                text-decoration: none;

                &:hover {
                  color: $black;
                }
              }
            }
          }
        }
      }
    }
    .footer {
      position: absolute;
      bottom: 0vh;
      height: 100px;
      width: 60%;
      margin: auto;
      display: flex;
      justify-content: center;
      font-size: 2rem;

      svg {
        margin: 10px;
        cursor: pointer;
        color: $white;
        transition: .3s;

        &:hover {
          color: black;
          transition: .3s;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .li {
    font-size: 7rem !important;
  }
}
