$green: #03B5AA;
$black: #2E2E3A;
$white: #FFFFFF;
$red: #D82222;

.background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: backgroundEffect;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.container {
  width: 60%;
  min-width: 60%;
  margin: 10rem auto;
  .wrapper {
    padding: 0 48px;
  }
}

.projectLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 200px;

  .nav {
    display: block;

    .ul {
      margin: 0;
      padding: 0;

      .li {
        list-style: none;
        font-size: 6rem;
        font-weight: 700;
        cursor: pointer;
        height: 135px;
        overflow: hidden;
        position: relative;
        color: #FFF;
        text-decoration: none;
        background: linear-gradient(to top, $red 0%, $red 30%, transparent 20.01%) no-repeat left bottom / 0 100%;
        background-size: 100% 100%;
        box-shadow: 0px 15px 6px -10px rgba(0, 0, 0, 0.5);
        transition: .3s;

        &:hover {
          box-shadow: 0px 15px 6px -5px rgba(0, 0, 0, 0.5);
          transition: .3s;
        }
      }


      @media (max-width: 870px) {
        .nav {
          display: flex;
          flex-direction: column;
        }
        .li {
          font-size: 9vh;
        }
        .a {
          position: relative;
        }
      }
    }
  }
}


.description {
  position: absolute;
  top: 150px;
  left: 22%;
  max-width: 350px;
  height: auto;
  opacity: 0;

  .h3 {
    color: $white;
    text-decoration: underline;
  }

  .p {
    color: $white;
  }
}

.descriptionLD {
  position: absolute;
  top: 260px;
  left: 22%;
  max-width: 350px;
  height: auto;
  opacity: 0;

  .h3LD {
    color: $white;
    text-decoration: underline;
  }

  .pLD {
    color: $white;
  }
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}