$green: #03B5AA;
$black: #2E2E3A;
$white: #FFFFFF;
$red: #D82222;

.background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: backgroundEffect;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.container {
  width: 60%;
  height: calc(100vh - 100px);
  margin: 100px auto;
  .wrapper {
    padding: 0 48px;
    height: 100%;
    width: 100%;
  }
}

.projectLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 60%;

  .nav {
    display: block;

    .ul {
      margin: 0;
      padding: 0;

      .li {
        list-style: none;
        font-size: 8vw;
        font-weight: 700;
        cursor: pointer;
        height: 160px;
        color: #FFF;
        text-decoration: none;

        .a {
          background: linear-gradient(to top, $red 0%, $red 30%, transparent 20.01%) no-repeat left bottom / 0 100%;
          background-size: 0% 0%;
          box-shadow: 0px 15px 6px -10px rgba(0, 0, 0, 0.5);
          transition: .3s;
        }


        .a:hover {
          box-shadow: 0px 15px 6px -5px rgba(0, 0, 0, 0.5) !important;
          transition: .3s;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .li {
    font-size: 7rem !important;
  }
}

@media (max-height: 830px) {
  .li {
    font-size: 8vh !important;
  }
}


.description {
  position: absolute;
  top: 50%;
  left: 22%;
  max-width: 350px;
  height: 25%;
  opacity: 0;
  display: none;

  .h3 {
    color: $white;
    text-decoration: underline;
  }

  .p {
    color: $white;
  }
}

.descriptionLD {
  position: absolute;
  top: 80%;
  left: 22%;
  max-width: 350px;
  height: 25%;
  opacity: 0;
  display: none;

  .h3LD {
    color: $white;
    text-decoration: underline;
  }

  .pLD {
    color: $white;
  }
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}