$green: #03B5AA;
$black: #2E2E3A;
$white: #FFFFFF;
$red: #D82222;

.container {
  width: 60%;
  min-width: 60%;
  margin: 10rem auto;
  .wrapper {
    padding: 0 48px;
  }
}

.projectLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 200px;

  .nav {
    display: block;

    .ul {
      margin: 0;
      padding: 0;

      .li {
        list-style: none;
        font-size: 6rem;
        font-weight: 700;
        cursor: pointer;
        height: 135px;
        overflow: hidden;
        position: relative;
        color: #FFF;
        text-decoration: none;
        background: linear-gradient(to top, $red 0%, $red 30%, transparent 20.01%) no-repeat left bottom / 0 100%;
        background-size: 100% 100%;
        box-shadow: 0px 15px 6px -10px rgba(0, 0, 0, 0.5);
        transition: .3s;

        &:hover {
          box-shadow: 0px 15px 6px -5px rgba(0, 0, 0, 0.5);
          transition: .3s;
        }
      }


      @media (max-width: 870px) {
        .nav {
          display: flex;
          flex-direction: column;
        }
        .li {
          font-size: 9vh;
        }
        .a {
          position: relative;
        }
      }
    }
  }
}